@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
*{
	box-sizing: border-box;
}
body{
	background-color: #fcb69f;
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	justify-content: center;
	min-height: 100vh;
}
.quiz-container{
	color: white;
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgb(100, 100, 100);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
	
}
.quiz-header{
	padding: 2rem;
}
h2{
	margin: 0;
}
ul{
	list-style-type: none;
	padding: 0;
}
ul li{
	font-size: 1.1rem;
	font-weight: bold;
	margin: 1rem 0;
}
ul li{
	cursor: pointer;
}
button {
	background-color: blueviolet;
	border: none;
	color: white;
	display: block;
	font-family: inherit;
	font-size: 1.2rem;
	width: 100%;
	padding: 1rem;
	margin: 0;

}
button:hover{
	background-color: lightcoral;
}
